.login-button {
  max-width: var(--max-width);
  box-sizing: border-box;
  text-align: center;

  &-bottom-fixed {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 100%;
    max-width: var(--max-width);
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #fff;
    transform: translateX(-50%);
    z-index: 200;
  }

  &__item {
    display: block;
    width: 100%;
    height: 56px;
    padding: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.5px;
    color: #3F3F3F;
    text-align: center;

    & + & {
      margin-top: 16px;
    }
    &:disabled,
    &.disabled {
      cursor: default;
    }

    &--black {
      background-color: #000;
      color: #fff;
    }

    &--kakao {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fee500;
      border-radius: 12px;
      border: 1px solid #fee500;
      img {
        margin-right: 8px;
      }
    }

    &--child {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 12px;
      border: 1px solid #dbdbdb;
      padding: 8px 16px;
      img {
        margin-right: 8px;
      }
      span:has(img) {
        display: flex;
        align-items: center;
      }
      span:last-child {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: #666;
      }
    }
  }
}
