.calendar {
  margin-top: 32px;
}
.challenge {
  position: relative;
  &--main {
    padding-bottom: 112px;
    .custom-btn {
      margin-top: 16px;
    }
    &__not {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin-top: 136px;
      img {
        width: 94px;
      }
      &__title {
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
        letter-spacing: -0.5px;
        text-align: center;
      }
      &__subtit {
        margin-top: 4px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5px;
        text-align: center;
      }
      & > p:not(.challenge--main__not__title) {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.5px;
        text-align: center;
        color: #999;
      }
      &__box {
        width: 100%;
        max-width: 320px;
        padding: 8px 20px;
        border-radius: 16px;
        background-color: #F5F5F5;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.5px;
        div {
          display: flex;
          gap: 12px;
          padding: 8px 0;
        }
      }
    }
  }
  &__card {
    &--main {
      position: relative;
      margin-top: 32px;
      & > button {
        position: absolute;
        top: 68px;
        right: 4px;
      }
      &__top {
        display: flex;
        flex-direction: column;
        gap: 8px;
        & > p {
          font-size: 24px;
          line-height: 32px;
        }
        & > div {
          font-size: 16px;
          line-height: 24px;
        }
      }
      &__per {
        display: flex;
        align-items: center;
        gap: 28px;
        margin-top: 16px;
        .card--per {
          height: 40px;
        }
        & > div:not(.card--per) {
          flex-shrink: 0;
          p:first-child {
            margin-top: 0;
            font-size: 14px;
            line-height: 24px;
          }
          p {
            margin-top: -5px;
            font-size: 16px;
            line-height: 24px;
            span {
              font-size: 24px;
              line-height: 32px;
            }
          }
        }
      }
      & > p {
        margin-top: 16px;
        font-size: 12px;
        line-height: 16px;
      }
    }
    &--history {
      display: flex;
      flex-direction: column;
      gap: 16px;
      & > div:last-child {
        display: flex;
        padding: 11px 16px 13px;
        border-radius: 12px;
        background-color: #F5F5F5;
        text-align: center;
        div {
          width: 33.33%;
          padding: 0 16px;
          text-align: center;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          p:first-child {
            font-size: 13px;
            line-height: 24px;
            letter-spacing: -0.5px;
            color: #666;
          }
          p:last-child {
            margin-top: 2px;
            font-size: 15px;
            font-weight: 800;
            line-height: 24px;
            letter-spacing: -0.5px;
            color: #333;
            &.success {
              width: fit-content;
              margin: 4px auto 0;
              padding: 2px 8px;
              border-radius: 4px;
              background-color: #169E4A;
              font-size: 12px;
              font-weight: 800;
              line-height: 16px;
              letter-spacing: -0.5px;
              color: #fff;
            }
            &.fail {
              width: fit-content;
              margin: 4px auto 0;
              padding: 2px 8px;
              border-radius: 4px;
              background-color: #999;
              font-size: 12px;
              font-weight: 800;
              line-height: 16px;
              letter-spacing: -0.5px;
              color: #fff;
            }
          }
        }
        & div + div {
          border-left: 1px solid #D8D8D8;
        }
      }
    }
  }
}
.link-arrow {
  position: absolute;
  top: 8px;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #111;
}
.font {
  &--500 {
    font-weight: 500;
  }
  &--700 {
    font-weight: 700;
  }
  &--800 {
    font-weight: 800;
  }
  &--green {
    color: #169E4A !important;
  }
  &--yellow {
    color: #F79C22 !important;
  }
  &--c11 {
    color: #111;
  }
  &--c33 {
    color: #333;
  }
  &--c66 {
    color: #666;
  }
  &--ls1 {
    letter-spacing: -0.5px;
  }
  &--ls2 {
    letter-spacing: -1.0px;
  }
  &--ls3 {
    letter-spacing: -1.5px;
  }
}
.text {
  &__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
    color: #169E4A;
    &__wrap {
      margin-top: 40px;
    }
  }
  &__subtit {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #666;
    &--bold {
      font-weight: 800;
      color: #333;
    }
    &--mt8 {
      margin-top: 8px;
    }
  }
}
.card {
  position: relative;
  border-radius: 32px;
  background-color: #fff;
  &--p16 {
    padding: 16px;
  }
  &--p20 {
    padding: 20px;
  }
  &--border {
    border: 1px solid #E5E5E5;
  }
  &--green {
    border: 1px solid #169E4A;
  }
  &--shadow00 {
    box-shadow: 0px 8px 16px 0px #0000000F;
  }
  &--shadowc2 {
    box-shadow: 0px 8px 12px 0px #C2C2C240;
  }
  &--per {
    position: relative;
    width: 100%;
    height: 32px;
    border-radius: 20px;
    background-color: #E5E5E5;
    &__gage {
      width: 88px;
      height: 100%;
      border-radius: 20px;
      background-color: #F79C22;
      &--end {
        background-color: #999;
      }
    }
    &__comp {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 100%;
      border-radius: 0px 20px 20px 0px;
      background-color: #169E4A;
      font-size: 16px;
      font-weight: 800;
      line-height: 24px;
      color: #fff;
    }
    &__target {
      position: absolute;
      top: -16px;
      left: calc(50%);
      transform: translateX(-6px);
      display: flex;
      align-items: center;
      gap: 3px;
      font-size: 11px;
      line-height: 16px;
      color: #666;
      p {
        flex-shrink: 0;
      }
      span {
        font-weight: 800;
      }
    }
    &__title {
      width: 48px;
      margin-right: 12px;
      font-size: 12px;
      font-weight: 800;
      line-height: 16px;
      letter-spacing: -0.5px;
      color: #111;
    }
    &__state {
      margin-left: 8px;
      font-size: 14px;
      font-weight: 800;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: #F79C22;
      &--end {
        color: #999;
      }
    }
  }
  &__top {
    display: flex;
    gap: 12px;
  }
  &__img {
    position: relative;
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.card__leader {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        display: block;
        width: 20px;
        height: 20px;
        background-image: url(../images/team_leader.png);
        background-size: contain;
        z-index: 3;
      }
    }
  }
  &__head {
    margin: 8px 0 16px;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #169E4A;
  }
  &__linkBtn {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__title {
      padding-right: 8px;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: #333;
    }
  }
  &__info {
    display: flex;
    gap: 8px;
  }
  &__title {
    padding: 0px 12px;
    border-radius: 16px;
    border: 1px solid #169E4A;
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #169E4A;
    &--always {
      border: 1px solid #F79C22;
      color: #F79C22;
    }
  }
  &__num {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: #E5E5E5;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #333;
    &::before {
      content: '';
      display: block;
      width: 13px;
      height: 10px;
      background-image: url(../images/icon_people.svg);
    }
  }
  &__date {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #999;
    span {
      font-weight: 800;
      color: #169E4A;
    }
  }
  &__state {
    padding: 0 8px;
    border-radius: 8px;
    background-color: #169E4A;
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #fff;
    &--end {
      background-color: #333;
    }
  }
  &__ranking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & + .card__top {
      margin-top: 16px;
    }
    &--rank {
      display: flex;
      align-items: center;
      gap: 6px;
      img {
        width: 12px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.5px;
        color: #666;
        span {
          font-size: 16px;
          font-weight: 800;
          color: #169E4A;
        }
      }
    }
    &--text {
      display: flex;
      gap: 12px;
      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.5px;
        color: #666;
        span {
          font-size: 16px;
          font-weight: 800;
          color: #111;
        }
      }
      .btn {
        &__wrap {
          display: flex;
          gap: 8px;
        }
        &__star {
          width: 24px;
          height: 24px;
          background-size: contain;
          background-image: url(../images/icon_star.svg);
          &.on {
            background-image: url(../images/icon_star_fill.svg);
          }
        }
        &__person {
          width: 24px;
          height: 24px;
          background-size: contain;
          background-image: url(../images/icon_add_person.svg);
        }
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  & + .card {
    margin-top: 16px;
  }
  &--box {
    padding: 11px 16px;
    border-radius: 12px;
    background-color: #F5F5F5;
    &--flex2 {
      display: flex;
      align-items: center;
      & > div {
        width: 50%;
        text-align: center;
        padding-right: 12px;
        &:last-child {
          padding-right: 0;
          padding-left: 12px;
          border-left: 1px solid #D8D8D8;
        }
        p:first-child {
          font-size: 13px;
          line-height: 24px;
          letter-spacing: -0.5px;
          color: #666;
        }
        p:last-child {
          font-size: 18px;
          font-weight: 800;
          line-height: 24px;
          letter-spacing: -0.5px;
          color: #333;
        }
      }
    }
  }
  &__caption {
    position: relative;
    padding-left: 9px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #666;
    &::before {
      content: '*';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__chart {
    display: flex;
    gap: 4px;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 20%;
      & > p {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.5px;
        color: #666;
      }
    }
    &--bar {
      position: relative;
      height: 128px;
      div {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        width: 32px;
        height: 100%;
        border-radius: 16px;
        background-color: #169E4A;
      }
    }
    &--profile {
      display: flex;
      flex-direction: column;
      & > div {
        position: relative;
        width: 48px;
        height: 48px;
        margin: 0 auto 24px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & > p {
        @include ellipsis(2);
        font-size: 11px;
        font-weight: 800;
        line-height: 16px;
        letter-spacing: -0.5px;
        text-align: center;
      }
      & > span {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.5px;
        text-align: center;
      }
      &__rank {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border: 3px solid #fff;
        border-radius: 24px;
        background-color: #666;
        font-size: 12px;
        font-weight: 800;
        line-height: 16px;
        letter-spacing: -0.5px;
        color: #fff;
        &.first {
          background-color: #169E4A;
        }
      }
    }
  }
  &__medal {
    position: absolute;
    top: -8px;
    left: -8px;
    width: 26px;
    height: 26px;
    padding-top: 3.64px;
    border-radius: 16px;
    background-color: #666;
    background-size: contain;
    text-align: center;
    font-size: 10px;
    font-weight: 800;
    line-height: 20px;
    color: #fff;
    &.gold {
      color: #927200;
      height: 34px;
      background-color: transparent;
      background-image: url(../images/gold_medal.png);
    }
    &.silver {
      color: #666;
      height: 34px;
      background-color: transparent;
      background-image: url(../images/silver_medal.png);
    }
    &.bronze {
      color: #A36D5E;
      height: 34px;
      background-color: transparent;
      background-image: url(../images/bronze_medal.png);
    }
  }
  &--img {
    position: relative;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    border-radius: 32px;
    &__comp {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 36%;
      height: auto;
      z-index: 1;
      &.none {
        display: none;
      }
      &.ani {
        -webkit-animation-name: pulse;
        animation-name: pulse;
        animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        opacity: 0;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      @keyframes pulse {
        0% {
          opacity: 0;
          transform-origin: 50% 50%;
          transform: rotate(-30deg) scale(5);
          transition: all 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
        }
        10% {
          opacity: 0.5;
          transform: rotate(-30deg) scale(5);
        }
        100% {
          opacity: 1;
          transform: rotate(0) scale(1);
        }
      }
    }
    &__uploaded {
      position: relative;
      width: 100%;
      border-radius: 32px;
      overflow: hidden;
      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #00000080;
      }
    }
    &__text {
      position: absolute;
      top: 20px;
      right: 20px;
      text-align: right;
      color: #fff;
      &__date {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.5px;
      }
      &__title {
        position: static;
        font-size: 16px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: -0.2px;
      }
      &__num {
        font-size: 16px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: -0.2px;
        span {
          font-size: 24px;
          color: #E5CF07;
        }
      }
    }
    &__title {
      position: absolute;
      bottom: 20px;
      width: 100%;
      font-size: 24px;
      font-weight: 800;
      line-height: 32px;
      letter-spacing: -0.5px;
      text-align: center;
      color: #fff;
      span {
        color: #FFFA01;
      }
    }
    .share-btn {
      position: absolute;
      bottom: 16px;
      right: 16px;
      width: 40px;
      height: 40px;
      background-image: url(../images/icon_share.svg);
    }
  }
  &__comp {
    position: absolute;
    left: 0px;
    top: 85px;
    width: 100px;
  }
}
.team {
  position: relative;
  &--nodata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 30px 0;
    img {
      width: 82px;
    }
    p {
      font-size: 24px;
      font-weight: 800;
      line-height: 32px;
      letter-spacing: -0.5px;
      text-align: center;
      color: #111;
    }
  }
  &__add {
    position: fixed;
    bottom: 98px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 868px;
    height: 56px;
    background-image: url(../images/icon_plus_button.svg);
    background-position: right 20px center;
    z-index: 9;
  }
  &--main {
    padding-bottom: 32px;
    .tag--wrap {
      margin: 32px 0 24px;
    }
    &__gray {
      margin: 0 -20px 0;
      padding: 32px 20px 128px;
      background-color: #E5E5E5;
    }
  }
  &--sub {
    margin: 0 -20px;
    padding: 0 20px 38px;
    background-color: #F5F5F5;
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        &__top {
          display: flex;
          align-items: center;
          gap: 12px;
          div {
            display: flex;
            align-items: center;
            gap: 4px;
            p {
              font-size: 18px;
              font-weight: 800;
              line-height: 24px;
              letter-spacing: -0.5px;
              color: #666;
              span {
                font-size: 24px;
                line-height: 32px;
                color: #169E4A;
              }
            }
          }
          button {
            display: flex;
            align-items: center;
            height: fit-content;
            padding: 2px 4px 2px 8px;
            border-radius: 7px;
            background-color: #E5E5E5;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.5px;
            color: #333;
          }
        }
        &__big {
          margin-top: 8px;
          font-size: 24px;
          font-weight: 800;
          line-height: 32px;
          letter-spacing: -0.5px;
          text-align: center;
          color: #169E4A;
        }
        &__main {
          margin-top: 8px;
          font-size: 18px;
          font-weight: 800;
          line-height: 24px;
          letter-spacing: -0.5px;
          text-align: center;
          color: #111;
        }
      }
      & + .card {
        margin-top: 32px;
      }
    }
    .card {
      & + .card {
        margin-top: 32px;
      }
      &--per {
        height: 40px;
      }
      &__head {
        margin: 32px auto 9px;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: -0.5px;
        text-align: center;
        color: #111;
      }
    }
    &__card1 {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-top: 32px;
    }
    &__card2 {
      display: flex;
      flex-direction: column;
      padding-top: 12px;
      & > div {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 8px 0;
        p:first-child {
          flex-shrink: 0;
          width: 80px;
          font-size: 15px;
          font-weight: 800;
          line-height: 24px;
          letter-spacing: -0.5px;
          color: #111;
        }
        p:last-child {
          font-size: 15px;
          line-height: 24px;
          letter-spacing: -0.5px;
          color: #666;
          &.sm {
            font-size: 13px;
          }
        }
        select {
          height: 40px;
          padding: 8px 40px 8px 12px;
        }
      }
    }
    &__card3 {
      padding: 33px 12px 16px;
      .accent {
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: -0.5px;
        text-align: center;
        color: #111;
        span {
          position: relative;
          font-size: 24px;
          line-height: 32px;
          color: #169E4A;
          &::before {
            content: '';
            position: absolute;
            top: -11px;
            left: -2px;
            display: block;
            width: 36.5px;
            height: 12.88px;
            background-image: url(../images/text_accent.svg);
          }
        }
      }
      & > button {
        display: flex;
        gap: 8px;
        margin: 4px auto 0;
        padding: 4px 12px;
        border-radius: 4px;
        background-color: #F5F5F5;
        font-size: 11px;
        font-weight: 800;
        letter-spacing: -0.5px;
        color: #111;
      }
      .card__chart {
        margin-top: 16px;
      }
      .card__caption {
        margin: 15px 8px 0;
      }
      & + button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 6px;
        width: 100%;
        margin-top: 32px;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.5px;
      }
    }
  }
  .team-box-wrap {
    margin-bottom: 0;
  }
  &--ranking {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__caption {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.5px;
      text-align: right;
      color: #999;
    }
    .card--green {
      border: 2px solid #169E4A;
    }
    .card:not(:last-child) {
      margin-bottom: 0;
    }
    .card + .card {
      margin-top: 0;
    }
    &__my {
      position: sticky;
      bottom: 0;
      margin: 16px -20px 0;
      padding: 24px 20px;
      border-top: 1px solid #B3B3B3;
      background-color: #8989891A;
      backdrop-filter: blur(8px);
      .card {
        border: 2px solid #169E4A;
        box-shadow: 6px 6px 24px 0px #00000040;
      }
    }
  }
  .medal_btn {
    position: relative;
    &__pop {
      display: none;
      position: absolute;
      right: 8px;
      width: 145px;
      height: 116px;
      padding: 28px 20px 16px 25px;
      background-image: url(../images/speech_box.svg);
      z-index: 2;
      &.on {
        display: block;
      }
      &__close {
        position: absolute;
        top: 29px;
        right: 14px;
        width: 21px;
        height: 21px;
        background-image: url(../images/icon_close_white.svg);
        background-size: contain;
      }
      & > span {
        font-size: 13px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: -0.5px;
        color: #FFFA01;
      }
      ul {
        li {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 11px;
          line-height: 16px;
          letter-spacing: -0.5px;
          p {
            display: flex;
            align-items: center;
            gap: 3px;
            img {
              width: 10px;
            }
          }
          span {
            color: #fff;
          }
          &:nth-child(1) {
            color: #FFE18E;
          }
          &:nth-child(2) {
            color: #fff;
          }
          &:nth-child(3) {
            color: #FFB9AA;
          }
        }
      }
    }
  }
}
.tag {
  padding: 8px 16px;
  border-radius: 22px;
  border: 1px solid #D8D8D8;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #111;
  &.on {
    border: none;
    background-color: #169E4A;
    font-weight: 800;
    color: #fff;
  }
  &--wrap {
    display: flex;
    gap: 4px;
  }
}