.mb0 {
	margin-bottom: 0 !important;
}
.mt0 {
	margin-top: 0 !important;
}
.align-ctr {
	align-items: center !important;
}

.content-area {
	flex: 1 1 auto;
}
.head-area {
	margin: 16px 0 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 32px;
	padding-right: 32px;
	min-height: 32px;
	position: relative;
	&.ty02 {
		margin: 24px 0;
	}
	.area {
		&-left {
			display: block;
			position: absolute;
			top: 0;
			left: 0;		
		}
		&-right {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			&__icon {
				display: flex;
				height: 32px;
				align-items: center;
				gap: 16px;
				button {
					display: flex;
					align-items: center;
				}
			}
		}
	}
	.ico-logo {
		width: 32px;
		height: 32px;
	}
	.page-title {
		font-size: 24px;
		font-weight: 800;
		line-height: 32px;
		justify-content: center;
	}
}
.content-top {
	margin: 32px 0 48px;
	display: flex;
	justify-content: center;
	flex: 1;
}
.section {
	margin-top: 32px;
}

/* form */
.form-box {
	margin-bottom: 40px;
	.title {
		font-size: 16px;
		line-height: 24px;
		font-weight: 800;
		color: #111;	
		text-align: center;	
		margin-bottom: 16px;
	}
	.info--list {
		margin-top: 0;
		margin-bottom: 16px;
		li {
			font-size: 12px;
			line-height: 16px;
		}
	}	
}

.form-item {	
	&:first-child {
		padding : 8px 0;
	}
	padding : 12px 0;
	&--sub {
		margin-top: 8px;
	}
	.title {
		font-size: 15px;
		font-weight: 800;
		line-height: 24px;
		color: #111;
		text-align-last: left;
		margin-bottom: 8px;
	}
	.desc {
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
		color: #666;
	}
}

.box {
	&-gray {
		padding: 12px 20px;
		background: #f5f5f5;
		border-radius: 16px;		
		dl {
			display: flex;
			&:not(:last-child) {
				margin-bottom: 4px;
			}
			dt {
				font-weight: 800;
				color: #111;
				margin-right: 12px;
			}
			dd {
				font-weight: 500;
				color: #666;
			}
		}
		.terms-conts {
			text-align: left;
			height: 144px;
			overflow-y: scroll;
		}
	}	
}

/* button */
.toggle-wrap {
	display: flex;
	align-items: center;
	.inputField {
		width: revert;
	}
	.label-name {
		padding-left: 6px;
		color: #666;
		font-size: 12px;
		font-weight: 500;		
		line-height: 16px;
	}
}
.btn {
	&--text {
		color: #111;
		font-size: 12px;
		font-weight: 500;
		line-height: 16px;
		text-decoration: underline;		
	}
	&-group {
		button:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	&-area {
		&.ty02 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.label-txt {
				color: #169e4a;
				font-size: 12px;
				line-height: 16px;
				font-weight: 500;
			}
			button {
				margin-top: 0 !important;
			}
		}
		&.ty03 {
			width: 100%;
			display: flex;
			justify-content: center;
			button {
				width: 50%;
				flex: 1 1 auto;
			}
			button:not(:first-child) {
				margin-top: 0;
			}
			button:not(:last-child) {
				margin-right: 4px;
			}      
		}
	}
}

.custom-btn {	
	&.ty-chk {
		span {
		position:relative;
		display: inline-block;
		padding-left: 28px;
			&:before {
				position: absolute;
				content:'';
				width: 20px;
				height: 20px;
				top: 50%;
				left: 0;
				background: url(@/assets/images/icon/ico_chk.png) no-repeat;
				background-size: contain;
				transform: translateY(-50%);			
			}		
		}
	}
}


/* list */
.info {
	&--list {
		margin-top: 24px;
		li {
			font-size: 12px;
			font-weight: 500;
			line-height: 16px;
			color: #999;
		}
	}	
}
.bdr {
	&-gray {
		position: relative;
		margin: 0 -20px;
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 8px;
			background-color: #f5f5f5;
			margin: 40px 0;
		}
	}
}


/* profile */
.profile-area {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 42px;
	flex-direction: column;
	gap: 16px;
	.img-wrap {
		width: 168px;
		height: 168px;
		position: relative;
		padding: 8px 8px 0 0;		
		&.on-flag:before {
			content: '';
			display: inline-block;
			width: 32px;
			height: 32px;
			background-image: url('../images/icon/ico_leader.svg');
			position: absolute;
			top: 0;
			right: 0;
		}
		.ico-logo {
			max-width: 160px;
			height: 160px;
		}
	}
	.text-wrap {
		font-size: 18px;
		font-weight: 800;
		line-height: 24px;
	}

	&.small {
		margin-bottom: 32px;
		.img-wrap {
			width: 116px;
			height: 116px;
			padding: 16px 16px 0 0;
			&.on-flag:before {
				right: 3px;
			}
			.ico-logo {
				max-width: 104px;
				height: 104px;
			}
		}
	}
}


/* list filter */
.list-top-wrap {
	.filter {
		display: flex;
		align-items: center;
		gap: 8px;
		> div {
			width: 50%;
			flex: 1;
			height: 40px;
		}
		.box-wrap {
			border: 1px solid #e5e5e5;
			border-radius: 8px;			
			color: #666;
			padding: 0 10px;
			display: flex;
			align-items: center;
		}
		.inputField__input {
			height: 40px;
			padding: 0 10px;
			border: 1px solid #e5e5e5;
			&__checkbox--label {
				font-size: 14px;
				font-weight: 500;
				line-height: 24px;				
			}
			&__checkbox {	
				padding: 0;
				width: 16px;
				height: 16px;
				&:checked {
					border: 0;
					background-image: url(../images/checkbox_arrow_fill.svg);
					background-size: 16px 16px;
					&:focus {
						border: 0;
					}
				}
			}
		}
	}
}