.mb0 {
  margin-bottom: 0 !important;
}

.mb-end {
  margin-bottom: 20px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.align-ctr {
  align-items: center !important;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.content-area {
  flex: 1 1 auto;

  .btn-area.ty05 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    margin: 0 -20px
  }
}

.bg-case {
  background-color: #f5f5f5;
  margin: 0 -20px;
  padding: 0 20px;
}

.head-area {
  // margin: 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 32px 0 32px;
  min-height: 32px;
  position: relative;

  &.ty02 {
    position: fixed;
    top: 0;
    // margin: 24px 0;
    padding: 20px 0;
    width: 100vw;
    max-width: 500px;
    margin: 0 -20px;
    z-index: 50;
    background: #fff;
    min-height: 72px;
    transition: none;
  }

  &.bgGray {
    background: #f5f5f5;
    color: #111;
  }

  &.bgGreen {
    background: #169E4A;
    color: #fff;
  }

  &.bgWhite {
    background: #fff;
    color: #111;
  }

  &.ty02.scrolled {
    box-shadow: 0px 8px 12px 0px #C2C2C240;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  &.ty03 {
    position: relative;

    .page-title {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.5px;
      text-align: center;

      span {
        color: #169e4a;
      }
    }
  }

  .area {
    &-left {
      display: block;
      position: absolute;
      left: 20px;
      height: 32px;
    }

    &-right {
      display: block;
      position: absolute;
      right: 0px;
      height: 32px;

      &__icon {
        display: flex;
        height: 32px;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
        padding-right: 20px;

        button {
          display: flex;
          align-items: center;
        }
      }

      &__sort {
        position: relative;
        padding-right: 20px;

        .sort {
          &__btn-wrap {
            background: #111;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px;
          }

          &__drop-down-list {
            position: absolute;
            width: 150px;
            top: 40px;
            right: 20px;

            ul {
              border: 1px solid #e5e5e5;
              background: #fff;
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.06);

              li {
                text-align: right;
                padding: 4px 8px;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: -0.5px;
                color: #111;
              }

              li:hover {
                background: #1967d2;
                color: #fff;
              }
            }
          }
        }
      }

      .invite_btn {
        position: relative;

        &__pop {
          display: none;
          position: absolute;
          top: 15px;
          right: 8px;
          width: 168px;
          height: 58px;
          padding: 26px 38px 16px 20px;
          background: url(../images/speech_box_s.svg) no-repeat center/100%;
          z-index: 2;

          &.on {
            display: block;
          }

          &__close {
            position: absolute;
            top: 26px;
            right: 14px;
            width: 21px;
            height: 21px;
            background-image: url(../images/icon_close_white.svg);
            background-size: contain;
          }

          &>span {
            font-size: 13px;
            font-weight: 800;
            line-height: 24px;
            letter-spacing: -0.5px;
            color: #fff;
          }
        }
      }
    }
  }

  .ico-logo {
    width: 32px;
    height: 32px;
  }

  .page-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    justify-content: center;
  }
}

.header-space2 {
  width: 100%;
  height: 72px;
  margin-bottom: 8px;
}

.content-top {
  margin: 56px 0 48px;
  display: flex;
  justify-content: center;
}

.section {
  margin-top: 32px;
}

/* form */
.form-box {
  margin-bottom: 40px;

  .title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #111;
    text-align: center;
    margin-bottom: 16px;
  }

  .info--list {
    margin-top: 0;
    margin-bottom: 16px;

    li {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.form-item {
  &:first-child {
    padding: 8px 0;
  }

  &:last-child {
    padding: 8px 0;
  }

  padding: 12px 0;

  &--sub {
    margin-top: 8px;
  }

  .title {
    font-size: 15px;
    font-weight: 800;
    line-height: 24px;
    color: #111;
    text-align-last: left;
    margin-bottom: 8px;

    span {
      font-size: 13px;
      font-weight: 500;
      color: #169e4a;
    }

    small {
      font-weight: 500;
      color: #169e4a;
    }
  }

  .desc {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #666;
  }

  .inputField__radio--wrap {
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;

      &::before {
        content: '';
        width: calc(100% - 30px);
        height: 6px;
        background: #e5e5e5;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
      }

      li {
        display: flex;
        flex-direction: column;

        input[type='radio'] {
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
          display: none;

          &+label {
            cursor: pointer;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.85;
            letter-spacing: -0.5px;
            color: #666;
            padding-top: 20px;
            position: relative;
            display: block;

            &::before {
              content: '';
              width: 16px;
              height: 16px;
              background: #e5e5e5;
              border-radius: 50%;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          &:checked+label {
            color: #f79c22;

            &::before {
              background: #f79c22;
            }
          }
        }
      }
    }
  }
}

.box {
  &-gray {
    padding: 12px 20px;
    background: #f5f5f5;
    border-radius: 16px;

    dl {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      dt {
        font-weight: 800;
        color: #111;
        margin-right: 12px;
      }

      dd {
        font-weight: 500;
        color: #666;
      }
    }

    .terms-conts {
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      color: #666;

      span {
        font-weight: 800;
      }
    }
  }
}

/* button */
.toggle-wrap {
  display: flex;
  align-items: center;

  .inputField {
    width: revert;
  }

  .label-name {
    padding-left: 6px;
    color: #666;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
}

.btn {
  &--icon {
    border: 2px solid #d8d8d8;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 40px;
    height: 40px;

    img {
      width: 28px;
      height: 28px;
      max-width: none;
    }
  }

  &--text {
    color: #111;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: underline;
    text-underline-offset: 3px;

    &.link {
      text-decoration: none;

      &:after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        background-image: url(../images/icon_arrow_r.svg);
        background-size: contain;
        margin-left: 2px;
        vertical-align: middle;
      }
    }
  }

  &-group {
    button:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &-area {
    &.ty02 {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .label-txt {
        color: #169e4a;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
      }

      button {
        margin-top: 0 !important;
      }
    }

    &.ty03 {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        width: 50%;
        flex: 1 1 auto;
      }

      button:not(:first-child) {
        margin-top: 0;
      }

      button:not(:last-child) {
        margin-right: 4px;
      }
    }

    &.ty04 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #f9f9f9;
      padding: 16px;
      border-radius: 0 0 16px 16px;

      .inputField__input__checkbox {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        border: 1px solid #d8d8d8;

        &:checked {
          background-image: none;
          background-color: #fff;
          position: relative;

          &::after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 8px;
            background-image: url(../images/icon/ico_chk_on_green.png);
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .custom-btn {
        width: 100%;
        max-width: 72px;
        padding: 4px 20px;
      }
    }
  }
}

.custom-btn {
  &.ty-chk {
    span {
      position: relative;
      display: inline-block;
      padding-left: 28px;

      &:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        top: 50%;
        left: 0;
        background-image: url(@/assets/images/icon/ico_chk.svg);
        background-size: contain;
        transform: translateY(-50%);
      }
    }
  }

  &.ty-chk.on {
    span {
      &:before {
        background: url(@/assets/images/checkbox_arrow_fill.svg) center/20px;
      }
    }
  }
}

/* list */
.info {
  &--list {
    margin-top: 24px;

    &.indent {
      li:not(:first-child) {
        padding-left: 10px;
      }
    }

    li {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      color: #999;
    }
  }
}

.bdr {
  &-gray {
    position: relative;
    margin: 0 -20px;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 8px;
      background-color: #f5f5f5;
      margin: 40px 0;
    }
  }
}

/* profile */
.profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 16px;

  .img-wrap {
    width: 168px;
    height: 168px;
    position: relative;
    margin-right: -8px;
    padding: 8px 8px 0 0;

    &.on-flag:before {
      content: '';
      display: inline-block;
      width: 32px;
      height: 32px;
      background-image: url('../images/icon_leader.svg');
      position: absolute;
      top: 0;
      right: 0;
    }

    .ico-logo {
      width: 100%;
      max-width: 160px;
      height: 160px;
      border-radius: 56px;
      object-fit: cover;
    }

    &.leaderOn::before {
      content: '';
      display: inline-block;
      width: 32px;
      height: 32px;
      background-image: url('../images/icon_leader.svg');
      background-size: contain;
      position: absolute;
      top: 3px;
      right: 4px;
      z-index: 10;
    }
  }

  .text-wrap {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
  }

  .text-wrap.manage {
    text-align: center;

    .profile-name {
      margin-top: 4px;
    }
  }

  &.small {
    margin-bottom: 32px;

    .img-wrap {
      width: 116px;
      height: 116px;
      margin-right: -16px;
      padding: 16px 16px 0 0;

      &.on-flag:before {
        top: 3px;
        right: 3px;
      }

      .ico-logo {
        max-width: 104px;
        height: 104px;
        border-radius: 32px;
      }

      .certify-badge.on {
        overflow: hidden;
      }

      .certify-badge.on::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: #333 url('../images/certify_badge.svg');
        background-size: contain;
        position: absolute;
        bottom: 4px;
        right: 3px;
      }

      .certify-badge.on.manage::before {
        bottom: -2px;
        right: 15px;
      }
    }
  }

  .upload {
    &-wrap {
      display: block;
      width: 160px;
      height: 160px;
      border-radius: 56px;
      border: 2px dashed #169e4a;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      box-shadow: 0px 8px 16px 0px #0000000F;
    }

    &-icon+label {
      cursor: pointer;
    }

    &-label {
      display: block;
      width: 100%;
      height: 100%;

      .ico-logo {
        display: block;
        width: 60px;
        height: 55px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .uploaded-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* tag */
.tag-box-wrap {
  margin-bottom: 16px;
}

/* list filter */
.filter {
  display: flex;
  align-items: center;
  gap: 8px;

  >div {
    width: 50%;
    flex: 1;
    height: 40px;

    &:has(.inputField__input__radio) {
      height: auto;
    }

    &+div {
      flex: 0 1 50%;
    }
  }

  .filter-box-wrap {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    color: #666;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  .inputField__input {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #e5e5e5;
    font-weight: 500;

    &__checkbox--label {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }

    &__checkbox {
      padding: 0;
      width: 16px;
      height: 16px;
    }

    &__radio {
      padding: 0;
      width: 16px;
      height: 16px;

      &--label {
        margin-left: 4px;
        font-size: 13px;
        line-height: 24px;
      }
    }
  }

  .inputField__input__radio--wrap+.inputField__input__radio--wrap {
    margin-left: 8px;
  }

  &+.filter {
    margin-top: 8px;
  }
}

.calendar {
  &-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    margin-bottom: 12px;
  }

  &-text-wrap {
    margin-top: 5px;

    .desc {
      text-align: center;

      .clear-count {
        color: #169E4A;
      }
    }
  }

  .vc-orange {
    --vc-accent-600: #e5e5e5;
    /* active되는 vc-orange 기본컬러 제거하기위함 */
  }

  .vc-container {
    width: 100% !important;
    font-family: 'RixSinHead' !important;
    font-weight: normal;
  }

  .vc-header {
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .vc-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6px;
  }

  .vc-title {
    span {
      color: #169e4a;
      font-size: 24px;
      font-weight: 800;
      line-height: 32px;
    }
  }

  .vc-weekdays {
    font-weight: 800;
    padding-bottom: 8px;

    .vc-weekday {
      color: #000;
      font-size: 16px;
    }
  }

  .vc-weeks {
    padding: 20px 12px 0;
    text-align: center;

    .vc-week {
      padding-bottom: 16px;

      .vc-day {
        color: #666;
        font-size: 14px;
        font-weight: 800;
        line-height: 24px;

        &:first-child {
          color: #f79c22;
        }

        .vc-highlight-bg-light {
          background: #e5e5e5;
          padding: 16px 0;
          position: relative;
        }

        .vc-highlight-content-light {
          color: #666;
        }

        .vc-highlight-content-solid {
          background: #e5e5e5;
          color: #666;
          z-index: 0;
        }

        .vc-day-content {
          width: 32px;
          height: 32px;
          border-radius: 24px;
          font-weight: 800;
          line-height: 24px;
          letter-spacing: -0.5px;
          text-align: center;

          &:hover,
          &:active,
          &:focus {
            outline: 0;
            border: 0;
            background: none;
          }

          .date-info {
            font-size: 10px;
            line-height: 16px;
            letter-spacing: -0.5px;

            &:after {
              display: block;
              position: absolute;
              bottom: -14px;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              margin-top: 2px;
              color: #666;
            }
          }

          &.start {
            .date-info {
              &:after {
                content: '시작일';
              }
            }
          }

          &.today {
            color: #000 !important;
            border: 4px solid #f79c22;
            background-color: #fff;

            .date-info {

              // &:before {
              //   content: '';
              //   border-radius: 24px;
              //   display: block;
              //   width: 32px;
              //   height: 32px;
              //   border: 4px solid #f79c22;
              //   position: absolute;
              //   top: 0;
              //   left: 50%;
              //   transform: translateX(-50%);
              //   background-color: #fff;
              //   z-index: -1;
              // }
              &:after {
                content: '오늘' !important;
              }
            }
          }

          &.success {
            font-weight: 800;
            color: #fff !important;
            background-color: #f79c22 !important;
            border: 1px solid #f79c22 !important;

            .date-info {
              // &:before {
              //   content: '';
              //   display: block;
              //   width: 32px;
              //   height: 32px;
              //   border-radius: 24px;
              //   background-color: #f79c22 !important;
              //   border: 1px solid #f79c22 !important;
              //   position: absolute;
              //   top: 0;
              //   left: 51%;
              //   transform: translateX(-50%);
              //   z-index: -1;
              // }
            }
          }
        }
      }
    }
  }
}

.home {
  &--addBtn {
    &.active {
      .home--addBtn-hidden {
        color: #fff;
      }

      .home--addBtn-close {
        &:after {
          background-image: url(../images/icon_close_white.svg);
        }
      }
    }

    &.hidden {
      display: none !important;
    }

    position: fixed;
    top: auto;
    bottom: 104px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    padding: 16px 0 24px;
    text-align: center;
    z-index: 45;

    &-area {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
      width: 66px;
      height: 66px;
      background: #000;
      border-radius: 48px;
      margin-left: auto;
      margin-right: 28px;

      &:before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url(../images/icon/ico_export_phone.png);
        background-size: contain;
      }
    }

    &-create {
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: -2%;
      text-align: center;
      margin-top: 4px;
      padding: 0 10px;
      color: #fff;
    }

    &-hidden {
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
      color: #888;
      position: absolute;
      bottom: 0;
      right: 35px;
    }

    &-close {
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      right: 28px;

      &:after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url(../images/icon_close.svg);
        background-size: contain;
      }
    }
  }
}

.top {
  &--button {
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 104px;
    z-index: 50;

    button {
      position: relative;
      display: block;
      width: 64px;
      height: 64px;
      margin-left: auto;
      margin-right: 16px;
      border-radius: 48px;
      border: 2px solid #169e4a;
      background: #fff;
      box-shadow: 8px 10px 12px 0px #0000001a;
    }

    img {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.share-img-wrap {
  margin: 0 -20px;
  padding: 0 20px;
}

.kickout-btn {
  padding: 8px 15px;
  background: #E5E5E5;
  color: #b3b3b3;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;
  border-radius: 12px;
  border: 1px solid #B3B3B3;
}

/* 프로필 이미지 컴포넌트 */
.profile_img {
  &__info {
    .user__tit {
      font-size: 11px;
      font-weight: 800;
      line-height: 16px;
      max-width: 56px;
      height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-align: center;
      margin-top: 4px;
    }

    .user_img-wrap {
      width: fit-content;

      &.on-flag {
        position: relative;
        padding: 4px 4px 0 0;
      }

      &.on-flag:before {
        top: 3px;
        right: 3px;
      }

      &.leaderOn::before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url('../images/icon_leader.svg');
        background-size: contain;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
      }

      .user_img {
        border-radius: 16px;
        overflow: hidden;
        // width: 100%;
        // height: auto;
        width: 56px;
        height: 56px;
        position: relative;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .certify-badge {
        position: absolute;
      }

      .certify-badge.on::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #333 url('../images/certify_badge.svg') no-repeat top left/80%;
        position: absolute;
        top: -25px;
        right: -57px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 16px;
        padding: 2px;
      }
    }
  }
}

/* 인증 뱃지 */
.challenge__badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  padding: 4px 8px;
  font-weight: 800;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.5px;

  &.badge--abo {
    background-color: #FFE6EE;
    color: #E42864;
  }

  &.badge--purchase {
    background-color: #E5F6EC;
    color: #169E4A;
  }

  &.not {
    background-color: #F5F5F5 !important;
    color: #B9B9B9 !important;
  }
}

/* expansion Panel */
.panel {
  transition: opacity 0.1s ease, max-height 0.3s ease;

  &--title {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    color: #666;

    p {
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.5px;
      text-align: center;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  &--content {
    padding: 12px 0 0 0;
    background: #fff;
    position: relative;
    margin-top: 10px;
  }

  &--content::after,
  &--content::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #E5E5E5;
    top: 0;
  }

  &--content::before {
    left: -20px;
  }

  &--content::after {
    right: -20px;
  }
}

/* BadgeDefault */
.badge {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrap {
    user-select: none;
    pointer-events: none;

    object,
    img {
      image-rendering: optimizeQuality;
    }

    &.w-80 {
      width: 84px;
      height: 84px;
    }
  }

  &__name {
    display: flex;
    justify-items: center;
    align-items: center;

    &_tag {
      color: #F79C22;
      font-weight: 800;
      font-size: 11px;
      line-height: 16px;
      border-radius: 16px;
      padding: 2px 6px;
      border: 1px solid #F79C22;
    }

    p {
      font-weight: 500;
      font-size: 13px;
      line-height: 19.5px;
      letter-spacing: -0.5px;
      text-align: center;
      margin-top: 4px;
      // padding: 0 18px;
      word-break: keep-all;
      color: #111;

      &.white {
        color: #fff;
      }

      &.lock {
        color: #666666;
      }

      &.green {
        color: #357300;
        font-weight: 800;
      }

      &.use-profile {
        color: #666666;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin-top: 4px;
      }

      &.use-popup {
        font-weight: 800 !important;
        padding: 0;
        margin: 0;
        padding-left: 4px;
        font-size: 13px;
        line-height: 20px;
        color: #111;
      }
    }

  }
}

/* 뱃지 / 핀레벨 획득 팝업 */
@keyframes sizeUp {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(110%);
  }

  100% {
    transform: scale(100%);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1);
  }

  59% {
    transform: scale(0.4);
  }

  100% {
    transform: scale(1);
  }
}

.popup--badge {
  margin: 0 -20px;
  padding: 0 20px;
  max-width: 500px;
  width: 100vw;
  height: 100dvh;
  background: rgba(17, 17, 17, 0.8);
  backdrop-filter: blur(12px);
  z-index: 9999;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  // align-items: center;

  .badge-wrap {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .animation_bg {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
    }

    h3 {
      font-family: 'MontserratItalic';
      font-weight: 800;
      // font-style: Italic;
      font-size: 40px;
      line-height: 100%;
      text-align: center;
      letter-spacing: -0.5px;
      text-shadow: #FFFFFF70 1px 0 16px;
    }

    .badge {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--wrap {
        display: inline-grid;
        transition: transform 0.3s;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        background: transparent;
        position: relative;
      }

      &--wrap>* {
        grid-area: 1 / 1 / 1 / 1;
        width: 200px;
        height: 200px;
        backface-visibility: hidden;
      }

      &-img {
        z-index: 30;

        img {
          width: 200px;
          height: 200px;
        }

      }

      &-back {
        display: block;
        transform: rotateY(180deg);
      }

      &--shadow {
        position: relative;
        bottom: 10px;
        width: 200px;
        height: 24px;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, transparent 60%);
        filter: blur(6px);
        animation: shadow 1s ease-in-out 2.3s;
        z-index: -1;
      }

      &-name {
        color: #fff;
        // margin-top: 24px;
        font-family: RixSinHead;
        font-weight: 800;
        font-style: 800;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
      }
    }

    .popup-message {
      text-align: center;
      margin-top: 36px;
      font-family: RixSinHead;
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 18px;
      line-height: 24px;
      text-align: center;

      p:first-child {
        margin-bottom: 8px;
      }
    }
  }

  .btn-wrap {
    width: 100%;
    position: fixed;
    bottom: 40px;
    margin: 0 -20px;
    padding: 0 20px;
  }

  .close-btn {
    width: 20px;
    height: 20px;
    position: fixed;
    z-index: 10;
    top: 25px;
    right: 20px;

    img {
      width: 100%;
    }
  }
}

.animation_bg {
  pointer-events: none;
  display: none;
}


.select_profile {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;

  &_card {
    border-radius: 16px;
    border: 1px solid #999;
    padding: 16px 20px 8px;
    background: #F5F5F5;

    p {
      font-weight: 800;
      font-size: 10px;
      line-height: 14px;
      color: #999;
    }
  }

  &_card.is-active {
    border: 1px solid #169E4A;
    background: #EAFFF2;

    p {
      color: #111;
    }
  }
}



/* 노화속도 계기판 dashboard*/
.dashboard {
  &-container {
    padding-top: 30px;
    margin-top: 36px;
    position: relative;
    width: 100%;
    height: 100%;

    .needle {
      &-wrap {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6px;
        margin-top: -5px;
      }

      &-center {
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;
        bottom: -10px;
        transform: translate(-50%, 0%);
        z-index: 5;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3px;

        &.manage {
          background-color: #f8b500;
          color: #111;
        }

        &.caution {
          background-color: #E95371;
          color: #fff;
        }

        &.good {
          background-color: #5AB651;
          color: #fff;
        }

        span {
          font-weight: 500;
          font-size: 11px;
          line-height: 15px;
          letter-spacing: -0.5px;
          text-align: center;
        }

        span:nth-child(2) {
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
        }
      }


      &-line {
        position: absolute;
        bottom: 10px;
        max-height: 96px;
        transform-origin: bottom center;
        transition: transform 0.3s ease-in-out;
        transform: rotate(90deg);

        img {
          height: 100%;

        }
      }
    }
  }

  &__graph-list {
    position: absolute;
    top: -25px;
    right: 0;

    ul {
      padding-right: 12px;
      display: flex;
      justify-content: flex-end;

      li {
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: -0.5px;
        vertical-align: middle;
        color: #666;
      }

      li:not(:last-child) {
        margin-right: 8px;
      }

      li::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 1.33px;
        transform: translateY(1px);
        margin-right: 4px;
      }

      li:nth-child(1)::before {
        background-color: #E95371;
      }

      li:nth-child(2)::before {
        background-color: #F8B500;
      }

      li:nth-child(3)::before {
        background-color: #5AB651;
      }
    }
  }

  &__bg {
    position: relative;

    &-img {
      display: block;
      margin: 0 auto;
      width: 226px;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

  }

  &__text {
    position: relative;
    bottom: 10px;
    width: 100%;

    &-graph {
      width: 260px;
      display: block;
      margin: 10px auto 0 auto;

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.5px;
        vertical-align: middle;
      }

      span:nth-child(1) {
        padding-left: 12px;
        padding-right: 176px;
      }
    }

    &-head {
      padding-top: 8px;
      font-weight: 700;
      font-size: 16px !important;
      line-height: 16px;
      letter-spacing: -1px;
      text-align: center;
    }


  }

  &__first-prove {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-left: 6px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 55%;
      height: 110%;
      transform-origin: 50% 100%;
      z-index: 5;

      span {
        font-size: 14px;
      }
    }

  }


}