/* intro */
.lottie-conts {
	position: relative;
	margin: 0 -24px;
	&:before {
		content:'';
		background: url("../images/bg_intro.svg");
		background-size: contain;		
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}	
}
.lottie-conts {
	padding: 40px 0 20px;
}
.intro-text {
	margin-bottom: 24px;
	.text-group {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;
		.ico-img {
			width: 32px;
			height: 32px;
		}
		.count-num {
			font-family: "GmarketSans";
			font-size: 32px;
			font-weight: 700;
			line-height: 48px;
			color: #F79C22;
		}
	}
	.desc {
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
	}
}


/* login */
.login {
	&-intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.ico-logo {
			width: 112px;
			height: 96px;
		}
		.ico-title {
			font-size: 18px;
			margin-top: 16px;
			font-weight: 800;
		}
	}
    &-form {
		.input-area {
			.inputField {
				margin-bottom: 16px;
			}
		}
		.form-box {
			.box-wrap {
				padding-top: 20px;
				.img-wrap {
					display: flex;
					align-items: center;
					flex-direction: column;
					img {
						width: 53px;
						height: 53px;
					}
					.desc {
						font-size: 16px;
						font-weight: 800;
						line-height: 24px;
						color: #111;
						margin-top: 12px;
					}
				}
			}
		}
		.btn-area {
			margin-top: 16px;
			button:not(:first-child) {
				margin-top: 16px;
			}
			.btn {
				&--text {
					display: block;
					width: 100%;
					text-align: right;
				}
			}
		}
		.btn-group {
			margin-top: 40px;
		}
	}
}


/* 팀관리 */
.team-box-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.card {		
		border-radius: 16px;
	}
	.form-box {
		margin-bottom: 0;
	}
	.btn-area {
		margin-bottom: 24px;
	}
	.list {
		&-top-wrap {
		margin-bottom: 24px;			
		}
		&-conts-wrap {
			margin-bottom: 24px;
		}
	}
}
.team-btn-wrap {
	margin-top: 22px;
}

/* card */
.card {
	a {
		position: relative;
		&:after {
			content:'';
			background-image: url(../images/icon_arrow_r.svg);
			background-size: contain;
			width: 24px;
			height: 24px;
			display: block;
			position: absolute;
			top: 50%;
			right: -8px;
			transform: translateY(-50%);
		}
		.card__top {
			gap: 20px;
		}
	}
	&__profile__info {
		.img-wrap {
			&.on-flag {
				position: relative;
				padding: 4px 4px 0 0;
				&:before {
					content: '';
					display: inline-block;
					width: 14px;
					height: 14px;
					background-image: url('../images/icon_leader.svg');
					background-size: contain;
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}
		.card {
			&__img {
				max-width: 56px;
				height: 56px;
			}
			&__tit {
				font-size: 11px;
				font-weight: 800;
				line-height: 16px;				
				max-width: 56px;
				height: 32px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;				
				-webkit-box-orient: vertical;
			}
		}
	}
	&__text__list {
		display: flex;
		flex-direction: column;
		flex: 1;
		&.ty02 {
			dl {				
				font-size: 13px;
				line-height: 24px;
				&:not(:last-child) {
					margin-bottom: 4px;
				}
				dt {					
					font-size: 13px;
					color: #333;
				}
				dd {
					color: #111;
				}
			}
		}
		dl {
			display: flex;
			font-size: 15px;
			line-height: 24px;
			&:not(:last-child) {
				margin-bottom: 8px;
			}
			dt {
				flex: 1.5;
				padding-right: 8px;
				font-size: 16px;
				font-weight: 800;
				color: #111;
			}
			dd {
				flex: 2;
				font-weight: 500;
				color: #666;
				.group-info {
					.sub {
						color: #999;
					}
				}
				.badge-info {
					width: fit-content;
					padding: 2px 8px;
					border-radius: 4px;
					background-color: #169E4A;
					font-size: 11px;
					font-weight: 800;
					line-height: 16px;
					letter-spacing: -0.5px;
					color: #fffa01;
				}
			}
		}
		
	}
}

.tag-box-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.order--icon {
		background-image: url(../images/icon_order_desc.svg);
		background-size: contain;
		display: block;
		width: 32px;
		height: 32px;
		&.on {
			background-image: url(../images/icon_order_asc.svg);
		}
	}
}

.create-team-wrap {
	.card {
		margin-bottom: 56px;
	}
	.profile-wrap {
		.profile-area {
			margin-bottom: 32px;
			padding-top: 8px;
		}
	}
	.btn-area {
		margin-bottom: 20px;
	}
}

.my-page-wrap {
	margin: 48px 0 72px;
	.profile-area {
		&.small {
			.img-wrap {
				width: 104px;
				height: 104px;
				padding: 0;
				position: relative;
				box-shadow: 0px 8px 12px 0px #C2C2C240;
				border-radius: 32px;
				&::after {
					content : '';
					display: block;
					width: 32px;
					height: 32px;
					position: absolute;
					bottom: 0;
					right: 0;
					background-image: url(../images/icon/ico_file_modify.png);
					background-size: contain;
				}
			}
		}
		.text-wrap {			
			display: flex;
			align-items: center;
			gap: 4px;
			.btn-modify {
				width: 16px;
				height: 16px;
				&:after {
					content:'';
					display: inline-block;
					width: 100%;
					height: 100%;
					background-image: url(../images/icon_modify.svg);
					background-size: contain;
				}
			}
		}
	}
}