/* Font */
@font-face {
  font-family: 'RixSinHead';
  src: url('../fonts/RixSinHead_ExtraBold.eot');
  src: url('../fonts/RixSinHead_ExtraBold.woff2') format('woff2'),
    url('../fonts/RixSinHead_ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RixSinHead';
  src: url('../fonts/RixSinHead_Bold.eot');
  src: url('../fonts/RixSinHead_Bold.woff2') format('woff2'),
    url('../fonts/RixSinHead_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RixSinHead';
  src: url('../fonts/RixSinHead_Medium.eot');
  src: url('../fonts/RixSinHead_Medium.woff2') format('woff2'),
    url('../fonts/RixSinHead_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RixSinHead';
  src: url('../fonts/RixSinHead_Light.eot');
  src: url('../fonts/RixSinHead_Light.woff2') format('woff2'),
    url('../fonts/RixSinHead_Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSansBold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSansMedium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSansLight.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratItalic';
  src: url('../fonts/Montserrat-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: normal;
}