.home {
  padding-bottom: 40px;
  &__speech {
    position: relative;
    width: 100%;
    height: 88px;
    margin-top: 26px;
    padding: 9px 16px;
    border-radius: 32px;
    background-color: #169e4a;
    &::before {
      content: '';
      position: absolute;
      top: -16px;
      left: 0;
      display: block;
      width: 40px;
      height: 52px;
      background-image: url(../images/speech_home.svg);
      background-size: cover;
      z-index: 0;
    }
    &__title {
      position: relative;
      font-size: 22px;
      font-weight: 800;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: #fffa01;
      z-index: 1;
    }
    &__text {
      position: relative;
      margin-top: 5px;
      padding-left: 1px;
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.5px;
      color: #fff;
      z-index: 1;
    }
  }
  &__date {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    height: 48px;
    .date {
      position: relative;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: #111;
      & + .date {
        margin-left: 10px;
      }
      &.select {
        background-color: #f79c22;
        font-weight: 800;
        color: #fff;
      }
      &.today {
        background-color: #fff;
        border: 4px solid #f79c22;
        font-weight: 800;
        color: #111;
        &::after {
          content: 'Today';
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translate(-50%, 100%);
          font-size: 10px;
          font-weight: 800;
          line-height: 16px;
          letter-spacing: -0.5px;
          color: #666;
        }
        &::before {
          margin-top: -4px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        display: block;
        width: 0;
        height: 0;
        border-radius: 10px;
        background-color: #111;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      &.on {
        &::before {
          top: -12px;
          width: 6px;
          height: 6px;
          opacity: 1;
        }
      }
      &--more {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32px;
        margin-left: 4px;
        img {
          width: 24px;
          height: 24px;
          padding: 3px;
          margin: 4px;
        }
        span {
          font-size: 11px;
          font-weight: 800;
          line-height: 16px;
          letter-spacing: -0.5px;
          text-align: center;
          color: #111;
        }
      }
    }
  }
  .swiper {
    &__area {
      margin: 0 -20px;
      margin-top: 8px;
    }
    &-wrapper {
      &:has(.swiper-slide:only-child) {
        max-width: 100%;
        justify-content: center;
        transform: translate3d(0px,0px,0px) !important;
        margin: 0 auto;
        & + .swiper-pagination {
          display: none;
        }
      }
    }
    &-slide {
      &:only-child {
        max-width: 100%;
        margin-left: 0 !important;
      }
      position: relative;
      width: 77.777%;
      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      .slider-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        .profile-area {
          height: 100%;
          margin-bottom: 0;
          .upload-wrap {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 32px;
            &--noborder {
              border: none;
            }
            .upload_ani {
              position: absolute;
              width: 200px;
              height: auto;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              img {
                width: 100%;
              }
            }
            .date {
              position: absolute;
              top: 16px;
              left: 16px;
              font-size: 18px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: -0.5px;
              color: #169e4a;
            }
            .accent {
              position: absolute;
              bottom: 47px;
              left: 50%;
              transform: translateX(-50%);
              width: 154px;
              font-size: 24px;
              font-weight: 800;
              line-height: 32px;
              letter-spacing: -0.5px;
              text-align: center;
              color: #111;
              span {
                position: relative;
                &::before {
                  content: '';
                  position: absolute;
                  top: -15px;
                  left: 0;
                  display: block;
                  width: 42.5px;
                  height: 15px;
                  background-image: url(../images/text_accent.svg);
                  background-size: contain;
                }
              }
              &::after {
                content: '';
                position: absolute;
                bottom: 2px;
                left: 0;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #999;
              }
            }
          }
        }
      }
      .card--img {
        max-width: 100%;
        height: 100%;
        .btn_wrap {
          position: absolute;
          top: auto;
          bottom: 16px;
          right: 16px;
          display: flex;
          gap: 8px;
          .share-btn {
            position: static;
          }
          .replace-btn {
            width: 40px;
            height: 40px;
            background-image: url(../images/icon_replace.svg);
          }
        }
      }
    }
    &-pagination {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
      &-bullet {
        margin: 0 3px !important;
        border-radius: 10px;
        &-active {
          width: 24px;
          background: #169e4a;
        }
      }
    }
  }
}
