.inputField {
  width: 100%;
  &__wrap {
    position: relative;
    display: flex;
    align-items: start;
  }
  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 12px;
    border: solid 1px #D8D8D8;
    border-radius: 8px;
    font-size: 14px;
    color: #111111;
    width: 100%;
    &::placeholder {
      color: #999999;
    }
    &:focus {
      border: solid 1px #169E4A;
    }
    &--warn {
      &:not(:placeholder-shown) {
        border: solid 1px #E42864;
      }
      &:focus {
        border: solid 1px #E42864;
      }
    }
    &[type='password'] {
      padding-right: 48px;
    }
    &__radio {
      position: relative;
      width: 16px;
      height: 16px;
      padding: 0;
      border-radius: 100px;
      background-color: #ffffff;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background-color: #ffffff;
      }
      &:checked {
        background-color: #169E4A;
        border: none;
      }
      &--label {
        margin-left: 6px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.5px;
        color: #666666;
        cursor: pointer;
      }
      &--wrap {
        display: flex;
        align-items: center;
        & + .inputField__input__radio--wrap {
          margin-left: 16px;
        }
      }
    }
    &__checkbox {
      position: relative;
      width: 16px;
      height: 16px;
      padding: 0;
      border-radius: 4px;
      background-color: #ffffff;
      cursor: pointer;
      &:checked {
        border: solid 1px #169E4A;
        background-image: url(../images/checkbox_arrow.svg);
        background-size: 10px 7px;
        background-position: center;
        &:focus {
          border: solid 1px #169E4A;
        }
      }
      &:focus {
        border: solid 1px #D8D8D8;
      }
      &--label {
        margin-left: 6px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.5px;
        color: #666666;
        cursor: pointer;
      }
      &--wrap {
        display: flex;
        align-items: center;
        & + .inputField__input__checkbox--wrap {
          margin-left: 16px;
        }
      }
    }
  }
  select {
    width: 100%;
    padding-right: 40px;
    background-image: url(@/assets/images/select_arrow.svg);
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    cursor: pointer;
    &:has(option[hidden]:checked) {
      color: #999999;
      option {
        color: #111111;
      }
    }
  }
  &__text {
    border: none;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    line-height: initial;
    height: auto;
    color: #111111;
    overflow-y: visible;
    &:empty {
      &::before {
        content: attr(placeholder);
        display: block;
        color: #D8D8D8;
      }
    }
    &[contenteditable] * {
      font-size: 16px !important;
      font-weight: 400 !important;
      line-height: 22.4px !important;
    }
    &:focus {
      outline: none;
      color: #111111;
      &:empty {
        &::before {
          content: attr(placeholder);
          display: block;
          color: #D8D8D8;
        }
      }
    }
    &.checked {
      text-decoration: line-through;
    }
  }
  &__title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  &__caption {
    font-size: 11px;
    color: #666666;
    margin-top: 8px;
    &--warn {
      color: #E42864;
    }
  }
  &__button {
    position: absolute;
    top: 50%;
    right: 12px;
    background: url(@/assets/images/icon_eye.svg) no-repeat;
    width: 20px;
    height: 16px;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;
    &.on {
      background: url(@/assets/images/icon_eye_off.svg) no-repeat;
    }
  }
  &__toggle {
    display: none;
    &--label {
      display: block;
      position: relative;
      width: 27px;
      height: 16px;
      background-color: #D8D8D8;
      border-radius: 20px;
      transition: all 0.3s;
      &--circle {
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: #ffffff;
        border-radius: 100px;
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        transition: all 0.3s;
      }
    }
    &:checked {
      & + .inputField__toggle--label {
        background-color: #169E4A;
        .inputField__toggle--label--circle {
          left: 13px;
        }
      }
    }
  }
  &__date {
    position: relative;
    width: 136px;
    height: 40px;
    padding: 8px 20px 8px 10px;
    &--wrap {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    &::-webkit-calendar-picker-indicator {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 100%;
      height: 100%;
      color: #111111;
      opacity: 1;
      background: url("../images/icon_date.svg") no-repeat right 8px center;
      background-size: 20px 20px;
    }
    &:disabled {
      background-color: #F5F5F5;
      color: #999999;
    }
  }
}
@supports (-webkit-appearance: none) {
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }
}