.inputField {
  width: 100%;

  &.center {
    display: flex;
    justify-content: center;
    margin: 16px 0 24px 0;
  }

  &__wrap {
    position: relative;
    display: flex;
    align-items: start;
    &:has(.inputField__input__radio_center--wrap) {
      max-height: 185px;
      overflow-y: auto;
    }
  }

  &__wrap:has(.inputField__input__radio_second--wrap) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
  }


  &__pin--wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 12px;
    border: solid 1px #d8d8d8;
    border-radius: 8px;
    font-size: 14px;
    color: #111111;
    width: 100%;
    background-color: #fff;

    &::placeholder {
      color: #999999;
    }

    &:focus {
      border: solid 1px #169e4a;
    }

    &--warn {
      &:not(:placeholder-shown) {
        border: solid 1px #e42864;
      }

      &:focus {
        border: solid 1px #e42864;
      }
    }

    &[type='password'] {
      padding-right: 48px;
    }

    &__radio {
      position: relative;
      width: 16px;
      height: 16px;
      padding: 0;
      border-radius: 100px;
      background-color: #ffffff;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background-color: #ffffff;
      }

      &:checked {
        background-color: #169e4a;
        border: none;
      }

      &--label {
        margin-left: 6px;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.5px;
        color: #666666;
        cursor: pointer;

        &.second {
          text-align: left;
          font-size: 12px;
          line-height: 16px;
        }
      }

      &--wrap {
        display: flex;
        align-items: center;

        &+.inputField__input__radio--wrap {
          margin-left: 16px;
        }
      }

      &_second--wrap {
        display: flex;
        align-items: flex-start;
        padding: 12px 0;

        &:first-child {
          padding-top: 16px;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #d2d2d2;
          width: 100%
        }

        &+.inputField__input__radio--wrap {
          margin-left: 0px;
        }
      }

      &_center--wrap {
        align-items: center;
        &:first-child {
          padding-top: 6px;
        }
        &:last-child {
          padding-bottom: 0;
        }
        .inputField__input__radio--label {
          font-size: 12px;
          line-height: 16px;
        }
      }

    }


    &__checkbox {
      position: relative;
      width: 16px;
      height: 16px;
      padding: 0;
      border-radius: 4px;
      background-color: #ffffff;
      cursor: pointer;

      &:checked {
        border: 0;
        background-image: url(../images/checkbox_arrow_fill.svg);
        background-size: 16px 16px;
        background-position: center;

        &:focus {
          border: solid 1px #169e4a;
        }
      }

      &:focus {
        border: solid 1px #d8d8d8;
      }

      &--label {
        margin-left: 6px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.5px;
        color: #666666;
        cursor: pointer;
      }

      &--wrap {
        display: flex;
        align-items: center;

        &+.inputField__input__checkbox--wrap {
          margin-left: 16px;
        }
      }
    }

    &__pin {
      position: relative;
      padding: 0;
      border-radius: 8px;
      background-color: #ffffff;
      border: 1px solid #d2d2d2;
      max-width: 56px;
      height: 48px;
      cursor: pointer;
      font-size: 18px;
      line-height: 24px;
      font-weight: 800;
      text-align: center;

      /* 커서 보이게 */
      &.masked {
        color: transparent;
        caret-color: black;
        position: relative;
      }

      &.masked::before {
        content: '•';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 24px;
        color: black;
        pointer-events: none;
      }

      &--wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  select {
    width: 100%;
    padding-right: 40px;
    background-image: url(@/assets/images/select_arrow.svg);
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    cursor: pointer;

    &:has(option[hidden]:checked) {
      color: #999999;

      option {
        color: #111111;
      }
    }
  }

  &__text {
    border: none;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    line-height: initial;
    height: auto;
    color: #111111;
    overflow-y: visible;

    &:empty {
      &::before {
        content: attr(placeholder);
        display: block;
        color: #d8d8d8;
      }
    }

    &[contenteditable] * {
      font-size: 16px !important;
      font-weight: 400 !important;
      line-height: 22.4px !important;
    }

    &:focus {
      outline: none;
      color: #111111;

      &:empty {
        &::before {
          content: attr(placeholder);
          display: block;
          color: #d8d8d8;
        }
      }
    }

    &.checked {
      text-decoration: line-through;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__caption {
    font-size: 11px;
    color: #666666;
    margin-top: 8px;
    padding-left: 4px;

    &--warn {
      color: #e42864;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 12px;
    background: url(@/assets/images/icon_eye_off.svg) no-repeat;
    width: 20px;
    height: 16px;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;

    &.on {
      background: url(@/assets/images/icon_eye.svg) no-repeat;
    }

    &--copy {
      flex-shrink: 0;
      margin-left: 6px;
      padding: 4px 12px;
      border-radius: 8px;
      background-color: #169E4A;
      font-size: 13px;
      font-weight: 800;
      line-height: 24px;
      color: #fff;
    }
  }

  &__toggle {
    display: none;

    &--label {
      display: block;
      position: relative;
      width: 27px;
      height: 16px;
      background-color: #d8d8d8;
      border-radius: 20px;
      transition: all 0.3s;

      &--circle {
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: #ffffff;
        border-radius: 100px;
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        transition: all 0.3s;
      }
    }

    &:checked {
      &+.inputField__toggle--label {
        background-color: #169e4a;

        .inputField__toggle--label--circle {
          left: 13px;
        }
      }
    }
  }

  &__date {
    position: relative;
    width: 136px;
    height: 40px;
    padding: 8px 10px;

    &--wrap {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 100%;
      height: 100%;
      color: #111111;
      opacity: 1;
      background: url('../images/icon_date.svg') no-repeat right 8px center;
      background-size: 20px 20px;
    }

    &:disabled {
      background-color: #f5f5f5;
      color: #999999;
    }
  }

  &__copy {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #999;
  }
}

@supports (-webkit-appearance: none) {

  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }
}