/* 전체 레이아웃 */
html,
body,
#app {
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  text-align: left;
  margin-top: 19px;
  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
.footer {
  padding: 32px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  &--white {
    color: #fff;
  }
  &__top {
    display: flex;
    gap: 20px;
    &--link {
      font-size: 13px;
      font-weight: 800;
      line-height: 24px;
      color: #333333;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #666666;
    &--call {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 800;
      div {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
    &--copy {
      font-size: 11px;
    }
  }
}
.main-content {
  padding: 1rem;
  margin-bottom: 60px;
}
.floating {
  position: fixed;
  bottom: 120px;
  right: 0;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}
