/* 전체 레이아웃 */

body {
  background-color: #dddbdb;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;
  &:has(.terms) {
    padding: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
  &__left {
    display: flex;
    gap: 4px;
    height: 44px;
    &--cont {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 4px;
      img {
        height: 18px;
      }
    }
    &--text {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      color: #333333;
      span {
        font-weight: 800;
        color: #169e4a;
      }
    }
  }
  &__right {
    display: flex;
    gap: 8px;
    img {
      width: 34px;
    }
    &--notice {
      width: 42px;
      height: 42px;
      img {
        width: 100%;
      }
    }
  }
}
.nav {
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom) + 0px);
  width: 100%;
  max-width: 500px;
  height: 72px;
  margin-left: -20px;
  padding: 12px 18px;
  border-radius: 32px 32px 0px 0px;
  background-color: #111;
  z-index: 95;
  ul {
    display: flex;
    li {
      width: 25%;
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
      }
      img {
        width: auto;
        height: 24px;
        margin: 0 auto;
      }
      p {
        font-size: 13px;
        font-weight: 800;
        line-height: 20px;
        letter-spacing: -0.5px;
        text-align: center;
        color: #fff;
        &.on {
          color: #169e4a;
        }
      }
    }
  }
}
.footer {
  margin: 0 -20px;
  padding: 32px 20px;
  width: 100vw;
  max-width: 500px;
  &--white {
    padding-bottom: 104px;
    background-color: #169e4a;
    a {
      color: #fff;
    }
    .footer__bottom {
      color: #ffffff99;
      &--call {
        color: #ffffffB3;
      }
    }
  }
  &__top {
    display: flex;
    gap: 20px;
    &--link {
      font-size: 13px;
      font-weight: 500;
      line-height: 24px;
      color: #333333;
      &:last-child {
        font-weight: 800;
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #666666;
    &--call {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 800;
      div {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
    &--copy {
      font-size: 11px;
    }
  }
}
.main-content {
  padding: 1rem;
  margin-bottom: 60px;
}
.floating {
  position: fixed;
  bottom: 120px;
  right: 0;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}
