html,
body {
  overflow-y: overlay;
}

html.pop-open {
  overflow: hidden !important;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.8);
  z-index: 98;

  &__box {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // width: fit-content;
    width: 100%;
    min-width: 280px;
    max-width: 320px;
    padding: 32px 16px 24px;
    border: 1px solid #d8d8d8;
    border-radius: 16px;
    background-color: #fff;

    &--sm {
      width: 280px;
    }

    &--lg {
      max-width: 320px;
      width: 100%;
      padding: 8px;
      overflow: hidden;

      .popup__box--close {
        top: 8px;
        right: 8px;

      }

      .popup__box--top {
        padding: 0 36px 0 8px;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        color: #111;
        text-align: left;
      }

      .popup__box--bottom {
        margin: 8px -8px -8px !important;
      }
    }

    &--close {
      position: absolute;
      top: 16px;
      right: 16px;
    }

    &--top {
      font-size: 15px;
      font-weight: 800;
      line-height: 24px;
      color: #169e4a;
      text-align: center;

      &+.popup__box--middle {
        margin-top: 8px;
      }
    }

    &--middle {
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.5px;
      // max-width: 248px;


      &>span {
        font-weight: 800;
      }

      &>p {
        font-size: 11px;
        line-height: 16px;
      }

      .gray_text {
        font-size: 13px;
        line-height: 20px;
        color: #666;
      }

      .gray333_text {
        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: -0.5px;
        color: #333
      }

      .notice {
        margin-top: 8px;
        font-size: 13px;
        font-weight: 500;
        line-height: 21px;
        color: #999;
      }

      &+.popup__box--bottom {
        margin-top: 24px;
        width: 100%;
        // button 크기 때문에 일단 추가 
      }

      .custom-btn+.custom-btn {
        margin: 8px 0 12px;
      }

      .flex {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p:not(.font--green)+div {
          margin-top: 8px;
        }
      }
    }

    &--bottom {
      .btn-area {
        .custom-btn {
          border-radius: 24px;
        }
      }
    }

    .info--list {
      margin-top: 16px;
      text-align: left;
    }

    .box-wrap {
      margin-top: 24px;
    }

    .box-gray {
      padding: 16px 15.5px;
      border: 1px solid #E5E5E5;

      &:has(.terms__text) {
        max-height: 30vh;
        max-height: calc(var(--vh, 1vh) * 30);
        overflow-y: auto;
        text-align: left;
        padding-right: 2px;

        &::-webkit-scrollbar {
          width: 20px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          cursor: pointer;
          width: 20px;
          height: 100px;
          border-radius: 100px;
          background-color: #D8D8D8;
          border: 6px solid transparent;
          background-clip: padding-box;
        }

        .terms__text {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  &__scroll {
    padding: 6px;
    width: 100%;
    max-height: min(440px, calc((var(--vh, 1vh) * 100) - 122px));
    border: 1px solid #e5e5e5;
    background-color: #fff;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #111;

    img,
    div {
      display: block;
      width: 100%;
      height: auto;
    }

    &::-webkit-scrollbar {
      width: 20px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      width: 20px;
      height: 240px;
      border-radius: 100px;
      background-color: #D8D8D8;
      border: 6px solid transparent;
      background-clip: padding-box;
    }
  }

  &__select {
    margin-top: 24px;

    &+.notice {
      margin-top: 24px;
    }
  }

  &--img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 280px;

    &__close {
      display: block;
      width: 32px;
      height: 32px;
      margin-left: auto;
      background-image: url(../images/icon_close_white.svg);
    }
  }

  &--full {
    width: 100%;
    max-width: 500px;
    height: fit-content;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    padding: 0 20px;
    background-color: #fff;

    .visit_counting {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 16px;
    }

    &__cont {
      padding-top: 16px;
      padding-bottom: 16px;

      &:only-child {
        margin-top: 40px;
      }
    }

    &__wrap {
      background-color: transparent;
      overflow-y: auto;
      z-index: 99;

      &::-webkit-scrollbar {
        display: none;
      }

      &.sticky {
        position: sticky;

        .popup--full {
          padding: 0;
        }
      }
    }
  }

  &--toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    padding: 8.5px;
    border-radius: 40px;
    background-color: #111;
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #fff;
    z-index: 99;
  }

  &--photo {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &>button {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 10px;
      border-radius: 8px;
      border: 1px solid #e5e5e5;
      background-color: #fff;
      font-size: 13px;
      font-weight: 800;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: #333;

      img {
        width: 24px;
        height: 24px;
      }

      &:hover {
        border: 1px solid #169e4a;
        background-color: #e5f6ec;
      }
    }

    &__caption {
      margin-top: 2px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.5px;
      text-align: center;
      color: #666;
    }
  }
}

.popup__box--close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;

  &.is-hidden {
    display: none;
  }
}