html,
body {
  overflow: overlay;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.8);
  z-index: 98;
  &__box {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    min-width: 280px;
    max-width: 320px;
    padding: 32px 16px 24px;
    border: 1px solid #d8d8d8;
    border-radius: 16px;
    background-color: #fff;
    &--sm {
      width: 280px;
    }
    &--close {
      position: absolute;
      top: 16px;
      right: 16px;
    }
    &--top {
      font-size: 15px;
      font-weight: 800;
      line-height: 24px;
      color: #169e4a;
      text-align: center;
      & + .popup__box--middle {
        margin-top: 8px;
      }
    }
    &--middle {
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.5px;
      & > span {
        font-weight: 800;
      }
      & > p {
        font-size: 11px;
        line-height: 16px;
      }
      .notice {
        margin-top: 8px;
        font-size: 13px;
        font-weight: 500;
        line-height: 21px;
        color: #999;
      }
      & + .popup__box--bottom {
        margin-top: 24px;
      }
      .custom-btn + .custom-btn {
        margin: 8px 0 12px;
      }
      .flex {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p:not(.font--green) + div {
          margin-top: 8px;
        }
      }
    }
    &--bottom {
      .btn-area {
        .custom-btn {
          border-radius: 24px;
        }
      }
    }
    .info--list {
      margin-top: 16px;
      text-align: left;
    }
    .box-wrap {
      margin-top: 24px;
    }
    .box-gray {
      padding: 16px 15.5px;
    }
  }
  &__select {
    margin-top: 24px;
    & + .notice {
      margin-top: 24px;
    }
  }
  &--img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    &__close {
      display: block;
      width: 32px;
      height: 32px;
      margin-left: auto;
      background-image: url(../images/icon_close_white.svg);
    }
  }
  &--full {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #fff;
    &__cont {
      margin-top: 16px;
      padding-bottom: 16px;
      &:only-child {
        margin-top: 40px;
      }
    }
    &__wrap {
      background-color: transparent;
      overflow-y: auto;
      z-index: 99;
      &::-webkit-scrollbar {
        display: none;
      }
      &.sticky {
        position: sticky;
        .popup--full {
          padding: 0;
        }
      }
    }
  }
  &--toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    padding: 8.5px;
    border-radius: 40px;
    background-color: #111;
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #fff;
    z-index: 99;
  }
  &--photo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & > button {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 10px;
      border-radius: 8px;
      border: 1px solid #e5e5e5;
      background-color: #fff;
      font-size: 13px;
      font-weight: 800;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: #333;
      img {
        width: 24px;
        height: 24px;
      }
      &:hover {
        border: 1px solid #169e4a;
        background-color: #e5f6ec;
      }
    }
    &__caption {
      margin-top: 2px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.5px;
      text-align: center;
      color: #666;
    }
  }
}
