body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'RixSinHead';
  font-weight: normal;
  background-color: var(--color-basic1);
  letter-spacing: -0.5px;
  -moz-text-size-adjust: none; /* android에서 Firefox 브라우저 */
  -webkit-text-size-adjust: none; /* iOS에서 Safari 브라우저 */
  text-size-adjust: none;
}
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
  outline: 0;
}
fieldset,
img {
  border: 0;
}
*,
:after,
:before {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: 700;
}
form {
  margin: 0;
  padding: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
}
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
caption {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.clfx:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  font-weight: 700;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  &:active {
    filter: contrast(70%);
  }
}
a[role='button'] {
  cursor: pointer;
}
.ir-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
label {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// RixSinHead password 타입 지원하지 않아, 대체 폰트 지정하였음
input[type='password'] {
  font-family: 'Nanum Gothic', sans-serif !important;
  &::placeholder {
    font-family: 'RixSinHead';
  }
}

/* FireFox 
input[type='number'] {
  -moz-appearance: textfield;
}
*/
